proxmox_url              = "https://192.168.10.2:8006/api2/json"
proxmox_api_token_id     = "terraform@pam!terraform"
proxmox_api_token_secret = "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
proxmox_node             = "homelabpve01"
template_id              = 9000
k8s_version              = "1.31.4"
k8s_version_minor        = "1.31"
