# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.*.backup
terraform.tfvars
crash.log

# Ansible
*.retry
.vault-password
**/vault.yml

# Secrets
.env
*.pem
*.key
id_rsa*
*-secret.yml
!*-secret.example
!*-sealed-secret.yml
sealed-secrets-key-backup.yml

# Kubeconfig
kubeconfig
*.kubeconfig

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo
