# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.*.backup
terraform.tfvars
crash.log

# Packer
*.auto.pkrvars.hcl
packer_cache/

# Ansible
*.retry
.vault-password
**/vault.yml

# Secrets
.env
*.pem
*.key
id_rsa*
*-secret.yml
!*-external-secret.yml
vault-init-keys.json

# Kubeconfig
kubeconfig
*.kubeconfig

# MkDocs
site/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo
vault-secrets-backup.txt
