apiVersion: v1
kind: Secret
metadata:
  name: unpackerr-secrets
  namespace: arr
type: Opaque
stringData:
  UN_SONARR_0_API_KEY: "changeme"
  UN_RADARR_0_API_KEY: "changeme"
  UN_QBIT_0_PASSWORD: "changeme"
