apiVersion: v1
kind: Secret
metadata:
  name: exportarr-secrets
  namespace: arr
type: Opaque
stringData:
  sonarr-api-key: "<sonarr API key from Settings > General>"
  radarr-api-key: "<radarr API key from Settings > General>"
  prowlarr-api-key: "<prowlarr API key from Settings > General>"
  bazarr-api-key: "<bazarr API key from Settings > General>"
